body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.prayer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.prayer-box {
    width: 100px;
    height: 100px;
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.time {
    font-weight: bold;
}

.date {
    font-size: 0.8em;
    color: #666;
}